$enable-responsive-font-sizes: true;
$primary: #011936;
$secondary: #587D71;
$success: #4DAA57;
$danger: #ed6b52;
$info: #39A2AE;
$warning: #F9DC5C;
$light: #F4FFFD;
$dark: #533A71;
$grey: rgba(0, 0, 0, 0.25);